/*====COLORS====*/
:root {
  --primary-green: rgba(2, 162, 143, 1);
  --primary-color: white;
  --primary-grey: rgba(97, 97, 97, 1);
}

/*====INFOS PADRÃO====*/
html {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.container {
  width: auto;
  height: auto;
  padding: 3rem 9.5rem 0 8rem;
  display: grid;
  grid-template-columns: 2fr 1fr; /* A primeira coluna será 2x maior que a segunda */
  gap: 1.5rem; /* Espaço entre as colunas */
}

h2 {
  color: var(--primary-color);
  padding: 0.75rem 2rem 0.75rem 1.5rem;
}

/*====HEADER====*/

#title-dev {
  color: var(--primary-color);
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
  padding: 1rem 1rem 1rem 9.5rem;
  align-items: flex-start right;
}

body > header {
  background-color: var(--primary-green);
  width: auto;
  height: 5rem;
}
body > main {
  margin: 0;
  padding: 0;
}

/*=======Seção Posts Lateral=========*/

.column-card {
  width: 100%;
  height: 100%;
  margin-top: 0;
  justify-content: space-between;
}
#img_principal {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

#img_principal > img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.subtitle-green {
  background-color: var(--primary-green);
  border-radius: 0.5rem;
  width: auto;
  margin: 1rem 0 2.5rem 0;
}

.subtitle-green > h2 {
  margin: 0;
}

.cards {
  width: auto;
  font-size: 1rem;
  display: flex;
  align-content: space-between;
  border-radius: 0.25rem;
  padding: 0.8rem 1rem 2rem 0.8rem;
  margin-bottom: 2.5rem;
  box-shadow: 0.25rem 0.5rem 0.2rem rgba(204, 203, 203, 0.692);
}

.cards > img {
  width: 8.25rem;
  height: 4.4rem;
  margin-right: 0.8rem;
}

.cards-text {
  margin: 0;
}

.cards-text > h3 {
  margin: 0;
  padding: 0;
  font-size: 0.85rem;
}

.cards-text > p {
  margin: 0;
  padding: 0.5rem 0 0 0;
  font-size: 0.75rem;
  color: rgba(97, 97, 97, 1);
}

/*=======Seção Posts Recentes- Categoria=========*/

.title-post {
  color: var(--primary-color);
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: space-around;
}

.title-post > h2 {
  justify-items: flex-start;
}

.title-post > p {
  margin-left: 26rem;
}

#underline {
  font-size: 0.9rem;
  text-decoration: underline;
  justify-content: flex-end;
  width: auto;
  height: auto;
}

#categorias {
  font-size: 1.25rem;
  padding: 0.8rem auto 0.8rem 1.5rem;
}

#section-posts-recentes {
  margin-left: 1rem;
}

#item-decoration {
  list-style-type: none; /* Remove as marcações */
  margin: 0;
  padding: 0;
}

.item-text {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding-bottom: 1rem;
}

/*=======Seção Posts Recentes=========*/
#cards-section {
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: space-around;
  gap: 1.5rem;
}
.cards-organizacao {
  width: 22.5rem;
  height: 24.75rem;
  border: solid;
  border-radius: 1rem;
}

.cards-numb {
  margin: 0;
  padding: 0.9rem 1rem 0.9rem 1rem;
}
.cards-numb > p {
  margin: 0;
  padding: 0;
}

.cards-numb > h2 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--primary-grey);
}

.cards-numb > h3 {
  margin: 0;
  padding: 0;
}
